<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="border border-color-9 p-3 p-sm-6 radius-secondary">
                    <h4 class="text-center fs-2 fs-md-3">Ajouter un Produit</h4>
                    <hr class="short"
                        data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":2,"width":"4.20873rem"},"duration":0.8}'
                        data-zanim-trigger="scroll" />

                    <mat-tab-group >
                        <mat-tab label="Adoucisseur">

                            <div class="login-space">
                                <div class="sign-up-form" style="margin-top: 30px;">
                                    <form #addAdoucisseurForm="ngForm" (ngSubmit)="addAdoucisseur()">
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> 
                                             <mat-form-field appearance="fill" class="col-md-12">
                                                <mat-label> Type </mat-label>
                                                <input matInput type="text"  required [(ngModel)]="product.type" [ngModelOptions]="{standalone:true}">
                                            </mat-form-field>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <mat-form-field appearance="fill" class="col-md-12">
                                                    <mat-label> Price </mat-label>
                                                    <input matInput type="text"  required [(ngModel)]="product.price" [ngModelOptions]="{standalone:true}">
                                                </mat-form-field>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <mat-form-field appearance="fill" class="col-md-12">
                                                    <mat-label> Volume de résine  </mat-label>
                                                    <input matInput type="number"  required [(ngModel)]="product.volume" [ngModelOptions]="{standalone:true}">
                                                </mat-form-field>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <mat-form-field appearance="fill"  class="col-md-12">
                                                    <mat-label> Pression d'eau </mat-label>
                                                    <input matInput type="text"  required [(ngModel)]="product.pression" [ngModelOptions]="{standalone:true}">
                                                </mat-form-field>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <mat-form-field appearance="fill" class="col-md-12">
                                                    <mat-label> Economie d'eau </mat-label>
                                                    <input matInput type="number"  required [(ngModel)]="product.economie" [ngModelOptions]="{standalone:true}">
                                                 </mat-form-field>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <mat-form-field appearance="fill" class="form-group col-md-12">
                                                    <mat-label>Conception</mat-label>
                                                    <mat-select disableRipple  required [(ngModel)]="product.conception" [ngModelOptions]="{standalone:true}">
                                                        <mat-option value="Compact">Compact</mat-option>
                                                        <mat-option value="Bi-bloc">Bi-bloc</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <mat-form-field class="example-full-width" appearance="fill" class="col-md-12">
                                                <mat-label>Description</mat-label>
                                                <textarea matInput placeholder="..." [(ngModel)]="product.description" [ngModelOptions]="{standalone:true}" required></textarea >
                                              </mat-form-field>
                                        </div>

                                        <button type="button" (click)='filePicker.click()' class="btn btn-warning mt-3">
                                            Select Product Image
                                        </button>
                                        <div class="form-group">
                                            <input style="visibility: hidden;" type="file" class="form-control"
                                                #filePicker (change)='onImageSelected($event)' />
                                        </div>
                                        <img [src]="imagePreview" *ngIf="imagePreview" width="100px" height="100px">

                                        <div class="row align-items-center mt-3" style="margin-top:-20px;">
                                            <div class="col-6 mt-2 mt-sm-3" style="margin-left: 25%;"><button
                                                    class="btn btn-primary btn-block" type="">AJOUTER</button></div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Purificateur">  <div class="login-space">
                            <div class="sign-up-form" style="margin-top: 30px;">
                                <form #addPurificateurForm="ngForm" (ngSubmit)="addPurificateur()" >
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <mat-form-field appearance="fill" class="col-md-12">
                                                <mat-label> Type </mat-label>
                                                <input matInput type="text" required [(ngModel)]="product.type" [ngModelOptions]="{standalone:true}">
                                              </mat-form-field>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <mat-form-field appearance="fill" class="col-md-12">
                                                <mat-label> Price </mat-label>
                                                <input matInput type="text"  required [(ngModel)]="product.price" [ngModelOptions]="{standalone:true}">
                                              </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <mat-form-field class="example-full-width" appearance="fill" class="col-md-12">
                                                <mat-label>Description</mat-label>
                                                <textarea matInput placeholder="..." [(ngModel)]="product.description" [ngModelOptions]="{standalone:true}" required></textarea >
                                              </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-6" style="text-align: justify;">
                                            <h4 style="margin-left: 10px;">Les composants à éliminer: </h4> <br>
                                            <div *ngFor="let item of _composantList">
                                           <div > 
                                               <mat-checkbox color ="primary" class="example-margin" name={{item.name}} (change)="onChange()" [(ngModel)]="item.isselected" [ngModelOptions]="{standalone:true}" require ><h4> {{item.name}} </h4></mat-checkbox>
                                           </div>
                                        </div>
                                          </div>
 
                                      
                                    </div>

                                    <button type="button" (click)='filePicker.click()' class="btn btn-warning mt-3">
                                        Select Product Image
                                    </button>
                                    <div class="form-group">
                                        <input style="visibility: hidden;" type="file" class="form-control"
                                            #filePicker (change)='onImageSelected($event)' />
                                    </div>
                                    <img [src]="imagePreview" *ngIf="imagePreview" width="100px" height="100px">

                                    <div class="row align-items-center mt-3" style="margin-top:-20px;">
                                        <div class="col-6 mt-2 mt-sm-3" style="margin-left: 25%;"><button
                                                class="btn btn-primary btn-block" type="">AJOUTER</button></div>
                                    </div>

                                </form>
                            </div>
                        </div></mat-tab>
                    </mat-tab-group>



                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>