.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
table {
  width: 100%;
}
.mat-tab-group {
  margin-bottom: 48px;
}



.small-table{
  overflow-x: scroll !important;
}