<!--dash.component.html-->
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-card title="Card {{i}}"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>
    <!--Charts 1-->
    <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Chlore"> </app-card>
    </mat-grid-tile>
   
    <!--Charts 2-->
    <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
    [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card2 title="Calcaire"> </app-card2>
  </mat-grid-tile>
    
    <!--Charts 2-->
        <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card3 title="Residu Sec"> </app-card3>
    </mat-grid-tile>
    
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
    
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Admins">
          <table mat-table  class="mat-elevation-z8" style="width: 1000px;" *ngFor="let user of users">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell > No. </th>
              <td mat-cell > {{user}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell > Name </th>
              <td mat-cell > {{user.lastName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell > Weight </th>
              <td mat-cell > {{user.email}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell > Symbol </th>
              <td mat-cell > {{user.tel}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
        </mat-tab>
        
        <mat-tab label="Clients"></mat-tab>
      
      </mat-tab-group>
   
   </mat-grid-tile>
  </mat-grid-list>
 </div>