

      <table mat-table [dataSource]="contacts" class="mat-elevation-z8 table" style="width:1200px" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
   <!-- Position Column -->
   <ng-container matColumnDef="type" >
    <td mat-header-cell *matHeaderCellDef style="text-align: center;">Type </td>
    <th mat-cell *matCellDef="let element"> {{element.type}} </th>
  </ng-container>
<!-- Position Column -->
   <ng-container matColumnDef="client" >
    <td mat-header-cell *matHeaderCellDef style="text-align: center;">Client </td>
    <th mat-cell *matCellDef="let element"> {{element.client}} </th>
  </ng-container>


  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <td mat-header-cell *matHeaderCellDef style="text-align: center;" > date </td>
    <th mat-cell *matCellDef="let element"> {{element.date | date:'medium'}} </th>
  </ng-container>

    
  <!-- Position Column -->
  <ng-container matColumnDef="etat" >
    <td mat-header-cell *matHeaderCellDef style="text-align: center;">etat </td>
    <th mat-cell *matCellDef="let element"> {{element.etat}} </th>
  </ng-container>

       <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <td mat-header-cell *matHeaderCellDef> Actions </td>
        <th mat-cell *matCellDef="let element"  > 
          
        	<mat-icon type="button"  style="margin-right: 20px;color: green;">check</mat-icon>
          <mat-icon type="button"  color="warn">close</mat-icon>
        </th>
      </ng-container>

     
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
</mat-paginator>
