

      <table mat-table [dataSource]="contacts" class="mat-elevation-z8 table" style="width:1200px" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
   <!-- Position Column -->
   <ng-container matColumnDef="type" >
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> <b>Type</b>  </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.type}} </td>
  </ng-container>
<!-- Position Column -->
   <ng-container matColumnDef="client" >
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> <b>Client</b>  </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.client}} </td>
  </ng-container>


  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;" > <b>Date</b>  </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.date | date:'medium'}} </td>
  </ng-container>

    
  <!-- Position Column -->
  <ng-container matColumnDef="etat" >
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"><b>Etat</b> </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'green':element.etat=='Traitée', 
    'red' :element.etat=='En attente'}" style="text-align: center;"> {{element.etat}} </td>
  </ng-container>

       <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> <b>Actions</b>  </th>
        <td mat-cell *matCellDef="let element"  > 
          
        	<mat-icon type="button"  style="margin-right: 20px;color: green;" (click)="valideContact(element,element.email)">check</mat-icon>
          <mat-icon type="button"  color="warn" (click)="deleteContact(element._id,element.email)">close</mat-icon>
        </td>
      </ng-container>

     
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
</mat-paginator>
