table,th,tr,ng-container {
    width: 100%;
    width: 32px;
    padding-right: 24px;
    text-align: center;
   
  }

  .green{
    color: green;
   
}


.red{
    color: red;
  
}
  th,mat-header-cell{font-weight:900;
  }

  .vert{
    background-color: rgba(0, 128, 0, 0.871);
  }
