
<section class="background-primary py-3 d-none d-sm-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto d-none d-lg-block"><span
                    class="fa fa-map-marker color-warning fw-800 icon-position-fix"></span>
                <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">1010 Avenue, New York, NY 10018 US. </p>
            </div>
            <div class="col-auto ml-md-auto order-md-2 d-none d-sm-block"><span
                    class="fa fa-clock-o color-warning fw-800 icon-position-fix"></span>
                <p class="ml-2 mb-0 fs--1 d-inline color-white fw-700">Mon-Sat, 8.00-18.00. Sunday CLOSED</p>
            </div>
            <div class="col-auto"><span class="fa fa-phone color-warning fw-800 icon-position-fix"></span><a
                    class="ml-2 mb-0 fs--1 d-inline color-white fw-700" href="tel:2123865575">212 386 5575, 212
                    386 5576</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<div class="znav-white znav-container sticky-top navbar-elixir" id="znav-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg"><a class="navbar-brand overflow-hidden pr-3" href="index.html" ><img
                    src="assets/images/logo-dark.gif" height="100px" alt="" /></a><button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav fs-0 fw-700">
                    <li> <a href="" style="width: 76px;"> Accueil</a> </li>
                    <li> <a href="" routerLink="adoucisseurs" style="width: 130px;"> Adoucisseurs </a> </li>
                    <li> <a href="" style="width: 130px;" routerLink="purificateurs"> Purificateurs </a> </li>
                    <li ><a class="d-block mr-md-9"  style="width: 50px;" routerLink="entretien">Entretien</a></li>
                    <li *ngIf="connectedUser">  <a   routerLink="espace-client" >Mes Demandes</a> </li>
                    <li *ngIf="connectedUser"  >  <a type="button" (click)="logout()"  >LogOut</a> </li>
                   
                   

                </ul>
                <ul class="navbar-nav ml-lg-auto">
                    <li><a class="btn btn-outline-primary btn-capsule btn-sm border-2x fw-700" href=""  routerLink="registration" ><strong> Inscription </strong></a></li>
                    <li><button class="btn btn-outline-warning " type="submit" style="border-radius:50px; height: 35px; margin-left: 10px;"> <h6 style="margin-top:-6px; font-size: 14px;" routerLink="contact"> <strong>Contact</strong> </h6> </button></li>
                     
                                
                </ul>
            </div>
        </nav>
    </div>
</div>