th,ng-container {
   
    
    
    text-align: center;
    font-weight: bold; 
  }
  .green{
    color: green;
   
}


/* class for the clients */
.red{
    color: red;
  
}
  th,mat-header-cell{font-weight:900;
  }
