th,ng-container {
   
    
    border-right: 1px solid currentColor;
    
    text-align: center;
    font-weight: bold; 
  }
  .green{
    color: green;
   
}


/* class for the clients */
.red{
    color: red;
  
}