<mat-card class="dashboard-card" style="width: 260px;">
   
    <mat-card-header>
        
      <mat-card-title style="font-size: 20px;" style="margin-left: -20px;">
        <button mat-fab color="basic" aria-label="Example icon button with a filter list icon"  >
            <mat-icon type="button"  style="font-size: 35px; margin-top: -10px; margin-left: -10px; color: green;" >work</mat-icon>
          </button>
        Dm Non Traitées
      </mat-card-title> 
     
    </mat-card-header>
    <mat-card-content class="dashboard-card-content" style="margin-left: 180px; margin-top: -20px;" >
        <div ><strong style="font-size: 20px;">{{s}}</strong> </div>   
      </mat-card-content>

  </mat-card>

  