

.value-text {
    margin: 0;
}



.avatar-icon {
    margin: 15px;
    transform: scale(2);
}

.duration {
    color: grey;
}

.difference-text {
    text-align: center;
    margin-top: 10px ;
}



.card-header {
    justify-content: center;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}