<section >
    <div>
        <div class="background-holder overlay"
            style="background-image:url(assets/images/puri.jpg);background-position: center bottom;">
        </div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div  >
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}' style="line-height: 0.8;"  >Le purificateur d'eau, l'eau du robinet réinventée</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation"
                            data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item"><a class="color-white" href="#">Home</a></li> <mat-icon> chevron_right </mat-icon>
                                <li class="breadcrumb-item active" aria-current="page">Purificateurs</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section style="margin-top:-100px ;">
    <div class="container">
        <div class="row">
            
            <div
                class="col-lg-5 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div   >
                            <h3 class="text-center fs-2 fs-lg-3 " data-zanim='{"delay":0.1}' style="line-height: 0.9;"  >Profitez d'une eau du robinet plus pure</h3>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mt-3" data-zanim='{"delay":0.1}' style="font-size: 20px ;line-height: 1.5;">Testez et appréciez la saveur naturelle d'une eau de boisson plus pure, au meilleur prix ! Nos purificateurs d'eau éliminent les mauvais goûts, les mauvaises odeurs et les polluants de votre eau du robinet. Idéal pour profiter d'un verre d'eau micro-filtrée, déguster les arômes de vos thés et cafés, révéler les saveurs de vos fruits et légumes ou faire cuire vos aliments.</p>
                        </div>
                        <div class="overflow-hidden">
                            <div data-zanim='{"delay":0.2}'><a class="d-flex align-items-center" href="#">
                                    <div class="overflow-hidden ml-2"><span class="d-inline-block"
                                            data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'></span>
                                    </div></a></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-7" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="background-white p-5 radius-tl-secondary radius-tr-secondary">
                        <div class="row my-5 "  >
                            <div class="col-2 text-center" ><img class="radius-round"
                                data-zanim='{"delay":0.1}' src="assets/images/square1.PNG"
                                    style="min-width: 100px; width: 100px;" alt=""></div>
                            <div class="col-10 overflow-hidden"  >
                                <h5 class="fs-0 fs-lg-1 overflow-hidden" data-zanim='{"delay":0.1}'  style="margin-left: 20px;">
                                    Objectif zéro plastique</h5>
                                <p class="mt-3 px-lg-3" data-zanim='{"delay":0.1}'  style="margin-left: 20px;">Dites stop aux bouteilles plastiques, profitez d'une eau micro-filtrée directement depuis votre robinet et préservez l'environnement.
                                </p>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-2 text-center"><img class="radius-round"
                                data-zanim='{"delay":0.1}' src="assets/images/square2.PNG"
                                    style="min-width: 100px; width: 100px;" alt=""></div>
                            <div class="col-10">
                                <h5 data-zanim='{"delay":0.1}' class="fs-0 fs-lg-1" style="margin-left: 20px;">Une eau de qualité, à volonté</h5>
                            <p data-zanim='{"delay":0.1}' class="mt-3 px-lg-3" style="margin-left: 20px;">Nos purificateurs d'eau vous apportent confort et bien-être en éliminant les polluants de votre eau tels que le chlore, les pesticides, les nitrates, les résidus médicamenteux...
                            </p>
                            </div>
                        </div>
                        <div class="row my-5"   >
                            <div class="col-2 text-center"><img class="radius-round"
                                    data-zanim='{"delay":0.1}' src="assets/images/square3.PNG"
                                    style="min-width: 100px; width: 100px;" alt=""></div>
                            <div class="col-10">
                                <h5 data-zanim='{"delay":0.1}' class="fs-0 fs-lg-1" style="margin-left: 20px;">Bye bye les mauvais goûts et mauvaises odeurs</h5>
                            <p data-zanim='{"delay":0.1}' class="mt-3 px-lg-3" style="margin-left: 20px;">Bénéficiez au quotidien d'une eau de qualité, inodore, au goût naturel et sublimez les arômes de vos cafés, thés et aliments.</p>
                            </div>
                        </div>
                        <div class="row my-5"   >
                            <div class="col-2 text-center"><img class="radius-round"
                                    data-zanim='{"delay":0.1}' src="assets/images/square-3.jpg"
                                    style="min-width: 100px; width: 100px;" alt=""></div>
                            <div class="col-10">
                                <h5 data-zanim='{"delay":0.1}' class="fs-0 fs-lg-1" style="margin-left: 20px;">À vous de choisir</h5>
                            <p data-zanim='{"delay":0.1}' class="mt-3 px-lg-3" style="margin-left: 20px;">Location sans engagement ou achat immédiat, nos formules s'adaptent à vos besoins et à ceux de votre foyer.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section>
<div class="container" style="margin-top: -190px;">
    <div class="row mb-6">
        <div class="col">
            <p class="text-center" style="font-size: smaller;"><strong>OPTEZ POUR LE MEILLEUR DE L'EAU</strong></p>
            <h3 class="text-center fs-2 fs-lg-3">Nos Purificateurs</h3>
            <hr class="short"
                data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
                data-zanim-trigger="scroll">
        </div>
    </div>
</div>

<!-- Purificateurs -->

<div class="container" data-zanim-timeline="{}" data-zanim-trigger="scroll">
<div class="row">
 <div class="row my-3" >
    <mat-card class="example-card" data-zanim='{"delay":0.1}' style="width: 30%; margin-left: 30px; margin-bottom: 100px;" *ngFor='let p of purificateurs'  >
    <app-purificateur-detail [p]="p" ></app-purificateur-detail>
</mat-card>
 </div>
</div>
</div>
</section>