<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/admin/'+item"> {{item | titlecase}} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #0a2868;">
      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white;">I.M. HydroCare</span>
        <button class="border border-5 rounded-circle" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" [matMenuTriggerFor]="belowMenu"  style="color: rgb(5, 0, 99);font-size: xx-large;border-width: thick;margin-left: 80%; text-align: center;" >
          {{first}}
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item>{{connectedUser.email}}</button>
          <button mat-button class="col-12" (click)="logout()" color="warn" >DECONNEXION</button>
        </mat-menu>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
