

  <section class="text-center bg-light">
    <div class="container" >
        <div class="row justify-content-center" >
            <div class="col-lg-10">
              <mat-card class="dashboard-card" style="width: 900px;height: 500px;">
                <mat-card-title style="margin-top: 25px;">
                 Client : {{clientName}}
                </mat-card-title>
                <mat-card-content class="dashboard-card-content" >
                 
                  <div *ngIf="suivi" style="margin-top: 50px; font-size: 17px;">  
                    Vous n'avez aucun traitement à suivre
                  </div>

                  <figure *ngIf="!suivi" class="highcharts-figure">
                    <div id="container"></div>
                    <p class="highcharts-description">
                    </p>
                  </figure>
                  
                </mat-card-content>
              </mat-card>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

