<mat-card class="dashboard-card" style="width: 600px;">
    <mat-card-header>
      <mat-card-title> 
        <button mat-icon-button class="more-button"  aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
       
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content" >
      <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
          This chart shows how data labels can be added to the data series. This
          can increase readability and comprehension for small datasets.
        </p>
      </figure>
      
    </mat-card-content>
  </mat-card>

