.small-table{
    overflow-x: scroll !important;
  }

table{
  width:50%;

}
table,th,ng-container,mat-header-cell {
  width: 100%;
  width: 32px;
 

  text-align: center;

}
th,mat-header-cell{font-weight:900;
}