<section class="text-center bg-light" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <mat-card>
                <div class=" border-color-9 p-3 p-sm-6 radius-secondary">
                    <h3 class="text-center fs-2 fs-md-3">Ajouter un Administrateur</h3>
                    <hr class="short"
                        data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":2,"width":"4.20873rem"},"duration":0.8}'
                        data-zanim-trigger="scroll" />
                    

                        <div class="login-space" >
                            <div class="sign-up-form" style="margin-top: 30px;">
                                <form #addAdminForm="ngForm" (ngSubmit)="addAdmin()">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id=""  placeholder="Prénom *" 
                                        [(ngModel)]="user.firstName" [ngModelOptions]="{standalone:true}" >
                                    </div>
    
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="" placeholder="Nom de famille *"
                                        [(ngModel)]="user.lastName" [ngModelOptions]="{standalone:true}"  >
                                    </div>
    
                                </div>
                                        <div class="input-group">
                                           <input class="form-control" type="email" placeholder="E-mail *" aria-label="Text input with dropdown button" 
                                           [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}"                       />
                                        </div>
    
                                        <div class="form-row" style="margin-top:15px;">
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" id="" placeholder="Mot de passe *"
                                                [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}" >
                                            </div>
    
                                            <div class="form-group col-md-6">
                                                <input type="password" class="form-control" id="" placeholder="Confirmer mot de passe *"  
                                                [(ngModel)]="user.confirmPassword" [ngModelOptions]="{standalone:true}">
                                            </div>
                                            
                            
                                        </div>
                                    <div class="input-group">
                                       <input class="form-control" type="tel"   placeholder="Numéro de mobile *" aria-label="Text input with dropdown button" 
                                       [(ngModel)]="user.tel" [ngModelOptions]="{standalone:true}" />
                                    </div>
    
                                <div class="row align-items-center mt-3">
                                    <div class="col-6 mt-2 mt-sm-3" style="margin-left: 25%;"><button class="btn btn-primary btn-block"
                                            type=""  >AJOUTER</button></div>
                                </div>
                                
                            </form>
                            </div>
                        </div>

                </div>
            </mat-card>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>