<section>
    <div class="container">
        <div class="row mb-6">
            <div class="col">
                <h3 class="text-center fs-2 fs-lg-3">Why Choose Elixir</h3>
                <hr class="short"
                    data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
                    data-zanim-trigger="scroll">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-0 pr-lg-3"><img class="radius-secondary"
                    src="assets/images/why-choose-us.jpg" alt="" /></div>
            <div class="col-lg-6 px-lg-5 mt-6 mt-lg-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="overflow-hidden">
                    <div class="px-4 px-sm-0" data-zanim='{"delay":0}'>
                        <h5 class="fs-0 fs-lg-1"><span
                                class="ion-chatbubble-working fs-2 mr-2 icon-position-fix fw-800"></span>We Are
                            Professional</h5>
                        <p class="mt-3 px-lg-3">We resource, train, speak, mentor and encourage; marketplace
                            leaders, business owners and career professionals to be effective in the workplace.
                        </p>
                    </div>
                </div>
                <div class="overflow-hidden">
                    <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.1}'>
                        <h5 class="fs-0 fs-lg-1"><span
                                class="ion-android-color-palette fs-2 mr-2 icon-position-fix fw-800"></span>We
                            Are Creative</h5>
                        <p class="mt-3 px-lg-3">With so many factors to consider when deciding how to
                            characterize your company , wouldn’t it be great to have a group of
                            forward-thinking, well-informed individuals on board who know what they’re doing?
                        </p>
                    </div>
                </div>
                <div class="overflow-hidden">
                    <div class="px-4 px-sm-0 mt-5" data-zanim='{"delay":0.2}'>
                        <h5 class="fs-0 fs-lg-1"><span
                                class="ion-ios-timer fs-2 mr-2 icon-position-fix fw-600"></span>24/7 Great
                            Support</h5>
                        <p class="mt-3 px-lg-3">Design clever and compelling marketing strategies, improve
                            product positioning, and drive conversion rates, Elixir is all time available to
                            guide you.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class=" background-primary py-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md">
                <h4 class="color-white mb-0">If you have any query related investment... <br
                        class="d-md-none" />we are available 24/7</h4>
            </div>
            <div class="col-md-auto mt-md-0 mt-4"><a class="btn btn-white btn-capsule"
                    href="contact.html">Contact Us</a></div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

<section class="text-center">
    <div class="container">
        <h3>Things You Get</h3>
        <hr class="short"
            data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}'
            data-zanim-trigger="scroll" />
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="px-3 py-4 px-lg-4">
                    <div class="overflow-hidden"><span class="icon-Double-Circle fs-3 color-primary fw-600"
                            data-zanim='{"delay":0}'></span></div>
                    <div class="overflow-hidden">
                        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Creative Support</h5>
                    </div>
                    <div class="overflow-hidden">
                        <p class="mb-0" data-zanim='{"delay":0.2}'>We transform brands, grow businesses, and
                            tell brand and product stories in a most creative way.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="px-3 py-4 px-lg-4">
                    <div class="overflow-hidden"><span class="icon-Mail-2 fs-3 color-primary fw-600"
                            data-zanim='{"delay":0}'></span></div>
                    <div class="overflow-hidden">
                        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Creating Experiences</h5>
                    </div>
                    <div class="overflow-hidden">
                        <p class="mb-0" data-zanim='{"delay":0.2}'>We cover a large range of creative platforms
                            and digital projects with one purpose: to create experiences.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="px-3 py-4 px-lg-4">
                    <div class="overflow-hidden"><span class="icon-Archery-2 fs-3 color-primary fw-600"
                            data-zanim='{"delay":0}'></span></div>
                    <div class="overflow-hidden">
                        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Product Consulting</h5>
                    </div>
                    <div class="overflow-hidden">
                        <p class="mb-0" data-zanim='{"delay":0.2}'>We guide you through the pipelines that
                            generate new products with higher potential and lower risk.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="px-3 py-4 px-lg-4">
                    <div class="overflow-hidden"><span class="icon-Globe-2 fs-3 color-primary fw-600"
                            data-zanim='{"delay":0}'></span></div>
                    <div class="overflow-hidden">
                        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Business Boosting</h5>
                    </div>
                    <div class="overflow-hidden">
                        <p class="mb-0" data-zanim='{"delay":0.2}'>We provide energy-efficient and
                            environmentally conservative solutions to our clients to boost their business.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="px-3 py-4 px-lg-4">
                    <div class="overflow-hidden"><span class="icon-Money-2 fs-3 color-primary fw-600"
                            data-zanim='{"delay":0}'></span></div>
                    <div class="overflow-hidden">
                        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Strategic Approach</h5>
                    </div>
                    <div class="overflow-hidden">
                        <p class="mb-0" data-zanim='{"delay":0.2}'>Based on solid strategic framework and real,
                            relevant research, we create prototypes, not presentations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="px-3 py-4 px-lg-4">
                    <div class="overflow-hidden"><span class="icon-Bar-Chart fs-3 color-primary fw-600"
                            data-zanim='{"delay":0}'></span></div>
                    <div class="overflow-hidden">
                        <h5 class="mt-3" data-zanim='{"delay":0.1}'>Logistic Consulting</h5>
                    </div>
                    <div class="overflow-hidden">
                        <p class="mb-0" data-zanim='{"delay":0.2}'>We work buy side and sell side to give our
                            clienrts hard hitting answers and focus hard on best opportunities. </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>