<section class=" background-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme owl-dot-round"
                    data-options='{"nav":true,"dots":false,"loop":true,"autoplay":true,"autoplayHoverPause":true,"items":1}'>
                    <div class="row px-lg-8">
                        <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto"
                                src="assets/images/client1.png" alt="Member" style="width: auto" /></div>
                        <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                            <p class="lead fw-400">Their work on our website and Internet marketing has made a
                                significant different to our business. We’ve seen a 425% increase in quote
                                requests from the website which has been pretty remarkable – but I’d always like
                                to see more!</p>
                            <h6 class="fs-0 mb-1 mt-4">Michael Clarke</h6>
                            <p class="mb-0 color-7">CEO, A.E.T Institute</p>
                        </div>
                    </div>
                    <div class="row px-lg-8">
                        <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto"
                                src="assets/images/client2.png" alt="Member" style="width: auto" /></div>
                        <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                            <p class="lead fw-400">Writing case studies was a daunting task for us. We didn’t
                                know where to begin or what questions to ask, and clients never seemed to follow
                                through when we asked. Elixir team did everything – with almost no time or
                                effort for me!</p>
                            <h6 class="fs-0 mb-1 mt-4">Maria Sharapova</h6>
                            <p class="mb-0 color-7">Managing Director, Themewagon Inc.</p>
                        </div>
                    </div>
                    <div class="row px-lg-8">
                        <div class="col-4 col-md-3 mx-auto"><img class="radius-secondary mx-auto"
                                src="assets/images/client3.png" alt="Member" style="width: auto" /></div>
                        <div class="col-md-9 ml-auto mt-4 mt-md-0 px-4 px-sm-3">
                            <p class="lead fw-400">As a sales gamification company, we were skeptical to work
                                with a consultant to optimize our sales emails, but Elixir was highly
                                recommended by many other Y-Combinator startups we knew. Elixir helped us run a
                                ~6 week email campaign.</p>
                            <h6 class="fs-0 mb-1 mt-4">David Beckham</h6>
                            <p class="mb-0 color-7">Chairman, Harmony Corporation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>