<section class="text-center bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <mat-card style="width: 1200px; margin-left: -130px;">
                <div class=" border-color-9 p-3 p-sm-6 radius-secondary">
                    <mat-tab-group mat-align-tabs="center" >
                        <mat-tab label="Demande">

                          <table mat-table [dataSource]="myDemande" class="mat-elevation-z8" style="width:1000px; margin-top: 50px; margin-left: 20px; " >

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="validation" >
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Type </th>
                              <td mat-cell *matCellDef="let element"> {{element.validation}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="idProduct" >
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;" > Produit </th>
                              <td mat-cell *matCellDef="let element" > {{element.product}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="etat">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;" > Etat </th>
                              <td mat-cell *matCellDef="let element"> {{element.etat}} 
                                  <mat-icon color='warn' type='button' style="margin-left: 20px;"  (click)="deleteDemande(element._id)" >delete</mat-icon>
                              </td>
                             
                            </ng-container>

                          
                           

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                              

                        </mat-tab>
                        <mat-tab label="RDV">  

                          <table mat-table [dataSource]="myContacts" class="mat-elevation-z8" style="width:1000px; margin-top: 50px; margin-left: 20px; " >

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="validation" >
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Type </th>
                              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="idProduct" >
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;" > Date </th>
                              <td mat-cell *matCellDef="let element" > {{element.date}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="etat">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center;" > Etat </th>
                              <td mat-cell *matCellDef="let element"> {{element.etat}} 
                                <mat-icon  type='button' style="margin-left: 20px;"  (click)="editMyContact(element._id)" >edit</mat-icon>
                                <mat-icon color='warn' type='button'  (click)="deleteMyContact(element._id)" >delete</mat-icon>
                              </td>
                             
                            </ng-container>
                          
                           

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>

                      </mat-tab>
                    </mat-tab-group>



                </div>
            </mat-card>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>


