<section class="text-center bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <mat-card>
                <div class=" border-color-9 p-3 p-sm-6 radius-secondary">
                    <mat-tab-group mat-align-tabs="center" >
                        <mat-tab label="Demande">

                            <table mat-table  class="mat-elevation-z8">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                              
                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                  <th mat-header-cell *matHeaderCellDef> No. </th>
                                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                                </ng-container>
                              
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Name </th>
                                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                              
                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                </ng-container>
                              
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="symbol">
                                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                              

                        </mat-tab>
                        <mat-tab label="RDV">  <div class="login-space">
                            <div class="sign-up-form" style="margin-top: 30px;">
                              
                            </div>
                        </div></mat-tab>
                    </mat-tab-group>



                </div>
            </mat-card>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>