<section class="text-center bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <mat-card>
                <div class=" border-color-9 p-3 p-sm-6 radius-secondary">
                    <h3 class="text-center fs-2 fs-md-3">Ajouter les Mesures</h3>
                    <hr class="short"
                        data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":2,"width":"4.20873rem"},"duration":0.8}'
                        data-zanim-trigger="scroll" />
                    

                        <div class="login-space" >
                            <div class="sign-up-form" style="margin-top: 30px;">
                                <form #findMesureForm="ngForm" (ngSubmit)="addMesure()" >
                                <div class="form-row">
                                
                                    
                                    <div class="form-group col-md-12">

                                        <mat-form-field class="example-full-width" appearance="fill" class="col-md-12">
                                            <mat-label>Veuillez selectionner une région</mat-label>
                                            <input type="text" matInput   [formControl]="myControl" [matAutocomplete]="auto"   required  >
                                            <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn"  (optionSelected)="selectedclient($event)">
                                              <mat-option *ngFor="let region of filteredRegions | async" [value]="region"  >
                                                {{region.name}}
                                              </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>


                                        <!-- <mat-form-field class="example-full-width" appearance="fill" >
                                            <mat-label>Gouvernorat</mat-label>
                                            <input type="text"
                                                   placeholder="Veuillez selectionner un gouvernorat"
                                                   aria-label="text"
                                                   matInput
                                                   [formControl]="myControl"
                                                   [matAutocomplete]="auto">
                                              <mat-autocomplete #auto="matAutocomplete">
                                              <mat-option *ngFor="let gouvernorat of filteredGouvernorats | async" [value]="gouvernorat.value"   >
                                                {{gouvernorat}}
                                              </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>                                 -->
                                    </div>
    
                                    
                                    <div class="form-group col-md-12">
                                        <mat-form-field appearance="fill" class="col-md-12"  >
                                            <mat-label> Concentration du Chlore </mat-label>
                                            <input matInput type="text" [(ngModel)]="mesure.chlore" [ngModelOptions]="{standalone:true}" required   >
                                        </mat-form-field>                                   
                                     </div>
    
                                </div>
                                        <div class="form-row" style="margin-top:15px;">
                                            <div class="form-group col-md-12">
                                                <mat-form-field appearance="fill" class="col-md-12">
                                                    <mat-label> Taux du Calcaire </mat-label>
                                                    <input matInput type="text" type="text" [(ngModel)]="mesure.calcaire" [ngModelOptions]="{standalone:true}" required  >
                                                </mat-form-field>  
                                            </div>
    
                                            

                                            <div class="form-group col-md-12">
                                                <mat-form-field appearance="fill" class="col-md-12">
                                                    <mat-label> Taux du résidus à sec </mat-label>
                                                    <input matInput type="text" type="text" [(ngModel)]="mesure.residu" [ngModelOptions]="{standalone:true}" required  >
                                                </mat-form-field>  
                                            </div>
                                            
                            
                                        </div>
                                  
                                <div class="row align-items-center mt-3">
                                    <div class="col-6 mt-2 mt-sm-3" style="margin-left: 25%;"><button class="btn btn-primary btn-block"
                                            type=""  >AJOUTER</button></div>
                                </div>
                                
                            </form>
                            </div>
                        </div>

                </div>
            </mat-card>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>